/* Helpers */

body {
font-family: 'Actor', sans-serif;
}

.me-margin-top {
	margin-top: 3.75rem;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.me-margin-top {
		margin-top: 1rem;
	}
}

.me-padding {
padding: 4rem;
}

/* First section */
.me-background__pattern {
	background-image: url('../img/debut_light.png');
	padding: 4rem 0;
	
}


.me-img {
	border: 3px solid #838487;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.me-blinking-cursor {
  	opacity: 1;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

  @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }


/* Hover boxes */

.me-works__boxes { 
	margin: 1rem;
	cursor: pointer;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: 3px solid #838487;
}

.me-works__boxes:hover img {
	-webkit-filter: none; 
    filter: none;
}

.me-works__boxes:hover p {
	opacity: 0.5;
}

.me-works__img {
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
} 

/*.me-works__img:hover {
	-webkit-filter: none; 
    filter: none;
}
*/
.me-short-intro {
	opacity: 0;
	background-color: #fff;
	padding: 2rem;
	width: 90%;
	position: relative;
	bottom: 7rem;
	left: 0.5rem;
}

.test2 {
	background-color: #fff;
	padding: 2rem;
	width: 90%;
	position: relative;
	bottom: 7rem;
	left: 0.5rem;
	height: 100px;
}
