/* Helpers */

html {
font-family: 'Actor', sans-serif;
}

body {
	background-color: #f3f3f3;
}

.me-margin-top {
	margin-top: 3.75rem;
}

.me-margin-top-small {
	margin-top: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	.me-margin-top {
		margin-top: 1rem;
	}
}

.me-padding {
padding: 4rem;
}

/* First section */
.me-background__pattern {
	background-image: url('../img/debut_light.png');
	padding: 4rem 0;
	
}

.me-img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 39.9375em){
	.me-img {
		margin-bottom: 1rem;
	}
}

.me-blinking-cursor {
  	opacity: 1;
	-webkit-animation: blink 1s infinite;
	-moz-animation: blink 1s infinite;
	animation: blink 1s infinite;
}

  @keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-webkit-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }
  @-moz-keyframes blink {
      0% { opacity:1; }
      50% { opacity:0; }
      100% { opacity:1; }
  }

.me-top-bar {
	background-color: #e6e6e6;
}

/* Hover boxes */

.me-works {
	padding: 1rem 3.1rem;
}

.me-works__boxes { 
	margin: 1rem;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.me-works__boxes:hover img {
	-webkit-filter: none; 
    filter: none;
}

.me-works__boxes:hover p {
	opacity: 0.5;
}

.me-works__img {
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
} 

/* Icons */
.me-icons {
	font-size: 2rem !important;
	color: #505050;
	margin: 1rem 0.5rem;
	vertical-align: middle;
}

.me-icons:hover {
	color: #808080; 
}

/* Links */

.me-links {
	font-size: 1.2rem;
	color: #505050;
}

.me-links:hover {
	color: #808080;
}
